{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}All Posts{% endblock title %}

{% block content %}
    <div class="container">
        <header>
            <h1>All Blog Entries</h1>
        </header>
        <div class="container">
            <div class="row justify-content-start">
                {% for post in object_list %}
                    {% if forloop.counter|sub:1|divisibleby:3 %}   
                    </div>
                    <div class="row justify-content-start">           
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body post-entry">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.body|truncatechars:90 }}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <a class="btn btn-secondary btn-sm" href="{% url 'post_detail' post.pk %}">Read Post</a>
                                </div>
                            </div>                            
                        </div>
                    {% else %}
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body post-entry">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.body|truncatechars:90 }}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <a class="btn btn-secondary btn-sm" href="{% url 'post_detail' post.pk %}">Read Post</a>
                                </div>
                            </div>                            
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}